<VirtualHost *:80>
	ServerName {{ server }}.grinnell.edu
	ServerAdmin digital@grinnell.edu
	DocumentRoot {{ drupal_core_path }}
	ErrorLog /var/log/apache2/error.log
	CustomLog /var/log/apache2/access.log combined
</VirtualHost>

